* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  word-break: keep-all;
  font-size: 0;
}

h1,
h2 {
  font-weight: 500;
}

a {
  text-decoration: none;
  color: black;
}

p {
  text-align: left;
  font-weight: 200;
}

li {
  text-align: left;
  list-style: none;
  font-weight: 200;
}

::-webkit-scrollbar {
  display: none;
}

/* ------------- index ------------- */
body {
  width: 100%;
  height: 100%;
}

.welcome_con {
  overflow: hidden;
  position: relative;
}

.welcome {
  position: absolute;
  width: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -48%);
  transition: transform 0.3s ease, color 0.3s ease, font-size 0.3s ease;
  font-size: 20vw;
  letter-spacing: 0.5vw;
  line-height: 36vw;
  font-weight: 800;
  white-space: nowrap;
  vertical-align: text-top;
}

.welcome:hover {
  color: blue;
  font-size: 22vw;
}

/*-------------- menu ------------- */

nav {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  padding-top: 1.5vw;
  z-index: 99;
  justify-content: space-between;
  padding-inline: 30px;
}

.nav-left {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 8px;
}

nav a {
  font-size: 1.25vw;
  pointer-events: auto;
}

.index:hover,
.back:hover,
.info:hover,
.hd1:hover {
  color: blue;
}

/* ------------- info ------------- */

.clickable-title:hover {
  color: blue;
}

h2,
h3,
p,
li {
  color: rgb(0, 0, 0);
  font-size: 1.25vw;
}

h2 {
  width: 60px;
  margin-bottom: 2.5vw;
}

summary {
  cursor: pointer;
}

.intro {
  padding: 1.25vw;
}

.contents {
  margin-top: 100px;
  display: inline-block;
  width: 20%;
  font-size: 1.25vw;
  vertical-align: top;
  padding-right: 1vw;
  line-height: 1.4;
}

@media screen and (max-width: 900px) {
  /* ------------- home ------------- */
  .welcome {
    word-break: break-all;
  }

  /* ------------- list ------------- */
  nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 4vw;
    padding-top: 4vw;
    z-index: 99;
  }

  nav a {
    font-size: 4vw;
  }

  section a {
    font-size: 17vw;
  }

  .list,
  .info {
    position: absolute;
    right: 4vw;
  }

  /* ------------- info ------------- */

  h1,
  h2,
  h3,
  p,
  li {
    font-size: 4vw;
  }

  h1 {
    padding-top: 4vw;
    padding-left: 4vw;
  }

  h2 {
    width: 60px;
    margin-bottom: 2.5vw;
  }

  summary {
    cursor: pointer;
  }

  .intro {
    padding: 4vw;
  }

  .contents {
    position: relative;
    margin-top: 100px;
    display: inline-block;
    top: 0;
    left: 0;
    width: 20%;
    font-size: 1.25vw;
    vertical-align: top;
    padding-right: 1vw;
    line-height: 1.4;
  }
}
